@media only screen and ( max-width: 1440px )
  .reviews
    padding-bottom: 60px
@media only screen and ( max-width: 1200px )
  .container
    max-width: 960px
  .hotel
    padding-bottom: 50px
    &-slider
      width: 590px
  .swiper
    &-slide
      &__image
        width: 100%
        object-fit: cover
  .card
    &__image
      width: 230px
      height: 230px
  .footer
    &-wrapper
      grid-column-gap: 55px
    &-bottom
      padding-top: 56px
@media only screen and ( max-width: 1024px )
  .container
    max-width: 860px
    width: 92%
  .hotel
    &-slider
      width: 500px
      height: 428px
  .card
    &__image
      width: 200px
      height: 200px
  .packages
    &__info
      padding: 20px 20px 25px 20px
      &__main
        padding: 30px 20px 20px 40px
    &__subtitle
      &__main
        margin-bottom: 18px
    &__text
      font-size: 12px
      margin-bottom: 24px
    &__details
      &__main
        margin-bottom: 15px

  .footer
    padding: 88px 0 33px 0
    &-wrapper
      grid-template: repeat(4, min-content) 1fr / 0.8fr minmax(293px, auto) 1fr
      grid-row-gap: 60px
    &__logo
      max-width: 120px
    &-categories
      grid-row: 2 / 3
    &-additional
      grid-row: 2 / 3
      grid-column: 2 / 3
    &-legal
      grid-row: 2 / 3
    &-social
      grid-row: 1
      grid-column: 2 / 3
      margin-left: -13px
      &__icons
        width: 90px
    &-contact
      grid-row: 3 / 4
      grid-column: span 3
    &-message
      grid-row: 4 / 5
      grid-column: span 2
    &-bottom
      grid-row: 5 / 6
      grid-column: span 3
      justify-content: space-between
      padding-top: 0
      &__text
        margin: 0
@media only screen and ( max-width: 992px )
  .container, .newsletter-wrapper
    max-width: 760px
  .logo
    width: 132px
  .navbar
    &-top
      padding-top: 30px
      padding-bottom: 30px
    &__search
      margin-left: auto
    &-menu
      padding-top: 22px
      padding-bottom: 22px
  .search
    &__input
      width: 340px

  .hotel
    &-grid
      flex-direction: column
    &__slider
      margin-bottom: 30px
    &-right
      flex-direction: row
    &-slider
      width: 100%
  .booking
    width: 47%
  .map
    width: 47%
    &__frame
      width: 100%
  .activities
    padding: 60px 0 50px 0
    &-wrapper
      flex-wrap: wrap
      justify-content: space-between
      align-items: center
      &__card
        margin-bottom: 20px
  .card
    width: 49%
    border-radius: 6px
    overflow: hidden
    &__image
      width: 100%
      min-width: 339px
      height: 255px
  .packages
    &-content
      grid-template-columns: repeat(2, 1fr)
      grid-gap: 15px
      &__main
        grid-column: 1
        grid-row: 1
        grid-template-columns: 1fr
        grid-template-rows: repeat(2, 250px)
        border-radius: 0 0 8px 8px
    &__image
      height: 250px
      &__main
        img
          object-position: top
    &__offer
      min-width: 95px
      min-height: 30px
      padding: 8px 12px 7px 11px
      font-style: normal
      font-weight: 600
      font-size: 12px
      line-height: 125%
    &__info
      display: flex
      flex-direction: column
      justify-content: space-between
      padding: 25px 20px 20px 30px
      &__main
        padding: 25px 20px 20px 30px
    &__stars
      display: none
    &__subtitle
      &__main
        margin: 0 0 24px 0
    &__text
      display: none

@media only screen and ( max-width: 768px )
  .container
    max-width: 576px
    width: 92%
  body
    padding-top: 82px
  .logo
    width: 200px
  .navbar
    &--mobile
      &_fixed
        position: fixed
        left: 0
        top: 0
        right: 0
        z-index: 99
    // &-menu
    //   &__link
    //     font-size: 12px
    //     line-height: 107%
    &__user, &__search
      &--mobile
        &_hidden
          display: none
        &_visible
          display: flex
    &__user
      flex-direction: column
      justify-content: center
    &-bottom
      display: none
      position: fixed
      left: 0
      bottom: 0
      right: 0
      top: 82px
      padding-top: 30px
      &--visible
        display: block
    &-menu
      flex-direction: column
      &__item
        margin-bottom: 20px
        &--mobile
          &_visible
            display: block
    &-top
      &__menu-button
        display: flex
        width: 16px
        height: 11px
        padding: 0
        align-items: center
        justify-content: space-between
        flex-direction: column
        border: none
        background-color: #fff
        cursor: pointer
    .menu-button
      &__line
        width: 16px
        height: 1px
        background-color: $text-color
  .user
    &__name
      &--light
        color: $light
        margin-left: 0
        margin-top: 10px
  .search
    &__input
      width: 280px
  .stars
    flex-basis: auto
  .hotel
    &-wrapper
      justify-content: space-between
    &-info
      &__rating
        display: none
      &__offer
        order: -1
        margin-left: 0
      &__text
        width: 100%
      &__name
        margin-top: 10px
        margin-bottom: 0
    &-name
      flex-basis: 100%
    &-slider
      height: 350px
    &-right
      // flex-direction: column
      // min-height: 450px

    &__slider
      margin-bottom: 20px
  .booking
    width: 49%
    height: 100%
  .map
    width: 49%
    height: 100%
  .newsletter
    &-wrapper
      max-width: 576px
      width: 92%
      flex-direction: column
      align-items: flex-start
  .reviews
    &__title
      margin: 0 0 50px 0
      font-size: 30px
      line-height: 126%
    &-slider
      &__item
        width: 100%
        max-width: 579px
        padding: 0 30px 30px
        &::before,
        &::after
          display: none
      &__username
        margin-top: 0
      &__text
        max-width: 455px
  .card
    width: 48%
    min-width: 255px
    height: 255px
    &__image
      width: 100%
      height: 100%
      object-fit: cover
  .footer
    &-wrapper
      grid-template: repeat(8, min-content) / 1fr
    &__logo
      grid-row: 1
      grid-column: 1
    &-social
      grid-row: 2
      grid-column: 1
      margin-left: 0
    &-legal
      grid-row: 3
      grid-column: 1
    &-additional
      grid-row: 4
      grid-column: 1
    &-categories
      grid-row: 5
      grid-column: 1
    &-contact
      grid-row: 6
      grid-column: 1
    &-message
      max-width: 80%
      grid-row: 7
      grid-column: 1
      display: flex
      flex-direction: column
      justify-content: center
      align-items: flex-start
      flex-wrap: wrap
      &__inputs
        // flex-flow: column wrap
    &-bottom
      grid-row: 8
      grid-column: 1
    &__button
      order: 1
    &__clarification
      display: block
      width: 100%
      margin-bottom: 15px

@media only screen and (max-width: 576px)

  .logo
    width: 150px
  .hotel
    padding-bottom: 40px
    &-slider
      height: 250px
      margin-bottom: 10px
    &-right
      flex-direction: column
  .booking
    width: 100%
    height: 100%
    margin: 10px auto
  .map
    width: 100%
    height: 100%
    margin: 10px auto
  .newsletter
    padding: 76px 0 83px 0
    &__title
      margin-bottom: 37px
  .subscribe
    width: 100%
  .reviews
    padding-bottom: 50px
    &-slider
      max-height: 483px
      &__button
        top: 31px
        &--prev
          left: 50%
          margin-left: -110px
          transform: translate(-50%, 0)
        &--next
          right: 50%
          margin-right: -110px
          transform: translate(50%, 0)
  // .activities
  //   &-wrapper
  //     flex: 1 1 100%
  .card
    width: 100%
    min-width: 280px
    height: 255px
    &__image
      object-fit: cover

  .packages
    &-content
      grid-template-columns: 1fr
    &-image
      &--bottom
        object-position: bottom
    &__subtitle
      font-size: 21px
      &__main
        font-size: 21px
    &__list
      &-text
        font-size: 15px

  .footer
    &-message
      max-width: 100%
    &-bottom
      flex-direction: column
      justify-content: space-between
      align-items: flex-start
      &__text
        // justify-content: space-between
        align-self: flex-start
        flex-wrap: nowrap
        margin-bottom: 10px
        font-size: 11px
      &__item
        margin: 0
      &__item:not(:last-child)
        margin-right: 4px

@media only screen and (max-width: 425px)
  .activities
    &-wrapper
      &__card
        width: 100%
  .footer
    &-wrapper
      grid-row-gap: 0
    &-message
      max-width: 100%
    &-input
      &__name, &__number
        flex-basis: 100%
    &__button
      order: 1
    &__clarification
      display: block
      width: 100%
      margin-bottom: 15px
    &-bottom
      flex-direction: column
      align-items: flex-start
      &__text
        align-self: flex-start
        margin-bottom: 10px

@media only screen and (max-width: 375px)
  .packages
    &-content
      &__main
        grid-template-rows: repeat(2, 225px)
        height: 450px
    &__image
      &__main
        img
          height: 225px
    &__info
      padding: 15px 15px 10px 25px
      &__main
        padding: 15px 15px 10px 25px
    &__subtitle
      font-size: 18px
      margin: 0 0 15px 0
      &__main
        font-size: 18px
        margin: 0 0 15px 0
    &-details
      margin-bottom: 0
    &__list
      &-text
        font-size: 13px

@media only screen and (max-width: 320px)

  .reviews
    &__title
      max-width: 245px
      font-size: 18px
      line-height: 127%
      margin: 0 auto 42px
    &-slider
      &__button
        top: 31px
        &--prev
          left: 50%
          margin-left: -95px
          transform: translate(-50%, 0)
        &--next
          right: 50%
          margin-right: -95px
          transform: translate(50%, 0)
  .footer
    padding: 69px 0 21px 0
    &-social
      flex-direction: column
      justify-content: center
      align-items: flex-start
    &-message
      margin-bottom: 30px
    &-bottom
      &__text
        width: 290px
