@media only screen and ( max-width: 1440px )
  .reviews
    padding-bottom: 60px
@media only screen and ( max-width: 1200px )
  .container
    max-width: 960px
  .hotel
    padding-bottom: 50px
    &-slider
      width: 590px
  .swiper
    &-slide
      &__image
        width: 100%
        object-fit: cover
  .card
    &__image
      width: 230px
      height: 230px

  .packages
    &-title
      margin-bottom: 50px
    &-wrapper
      grid-template: repeat(2, 450px) / repeat(3, 1fr)
      grid-gap: 15px
    &-item
      height: 450px
      &__main
        &__image
          min-width: 320px
          max-width: 320px
          min-height: 450px
          img
            width: 100%
            height: 100%

      &__image
        max-width: 100%
        img
          width: 100%
          height: 100%

    &-info
      padding: 17px 20px 10px 17px
      &__main
        padding: 40px 20px 10px 17px
      &__title
        font-size: 17px
        margin-bottom: 15px
        &__main
          margin-bottom: 20px
      &__text
        &__main
          font-size: 13px
          margin-bottom: 30px

    &-details
      margin-bottom: 15px
      &__main
        margin-bottom: 27px
      &__description
        margin-bottom: 9px
        &__icon
          margin-right: 10px
        &__text
          font-size: 11px
    &-footer
      &__price
        &__old
          font-size: 13px
        &__new
          font-size: 19px

@media only screen and ( max-width: 1024px )
  .container
    max-width: 860px
    width: 92%
  .hotel
    &-slider
      width: 500px
      height: 428px
  .card
    &__image
      width: 200px
      height: 200px

  .packages
    &-info
      padding: 17px 17px 10px 17px
      &__main
        padding: 20px 17px 10px 17px
      &__title
        font-size: 16px
        margin-bottom: 15px
        &__main
          margin-bottom: 25px
      &__text
        &__main
          font-size: 12px
          margin-bottom: 25px

    &-details
      &__main
        margin-bottom: 25px
      &__description
        margin-bottom: 7px
        &__icon
          margin-right: 8px
    &-footer
      &__price
        &__old
          font-size: 12px
        &__new
          font-size: 18px
      &__button
        min-width: 100px
        min-height: 40px
        padding: 10px 20px
@media only screen and ( max-width: 992px )
  .container, .newsletter-wrapper
    max-width: 760px
  .logo
    width: 132px
  .navbar
    &-top
      padding-top: 30px
      padding-bottom: 30px
    &__search
      margin-left: auto
    &-menu
      padding-top: 22px
      padding-bottom: 22px
  .search
    &__input
      width: 340px

  .hotel
    &-grid
      flex-direction: column
    &__slider
      margin-bottom: 30px
    &-right
      flex-direction: row
    &-slider
      width: 100%
  .booking
    width: 47%
  .map
    width: 47%
    &__frame
      width: 100%
  .activities
    padding: 60px 0 50px 0
    &-wrapper
      flex-wrap: wrap
      justify-content: space-between
      align-items: center
      &__card
        margin-bottom: 20px
  .card
    width: 49%
    border-radius: 6px
    overflow: hidden
    &__image
      width: 100%
      min-width: 339px
      height: 255px

  .packages
    &-title
      margin-bottom: 50px
    &-wrapper
      grid-template: repeat(3, 500px) / repeat(2, 1fr)
      grid-gap: 30px
    &-item
      height: 500px
      &__image
        min-width: 100%
      &__main
        &__image
          max-width: 100%
          min-height: 100%

    &-info
      padding: 17px 20px 10px 17px
      &__main
        display: flex
        flex-direction: column
        justify-content: space-between
        padding: 30px 20px 30px 17px
      &__title
        font-size: 20px
        margin-bottom: 27px
        &__main
          margin-bottom: 50px
      &__text
        &__main
          font-size: 15px
          margin-bottom: 30px

    &-details
      margin-bottom: 15px
      &__main
        margin-bottom: 35px
      &__description
        margin-bottom: 9px
        &__icon
          margin-right: 10px
        &__text
          font-size: 12px
    &-footer
      &__price
        &__old
          font-size: 15px
        &__new
          font-size: 22px

@media only screen and ( max-width: 768px )
  .container
    max-width: 700px
    width: 92%
  .navbar
    &-menu
      &__link
        font-size: 12px
        line-height: 107%
  .stars
    flex-basis: auto
  .hotel
    &-wrapper
      justify-content: space-between
    &-info
      &__rating
        display: none
      &__offer
        order: -1
        margin-left: 0
      &__text
        width: 100%
      &__name
        margin-top: 10px
        margin-bottom: 0
    &-name
      flex-basis: 100%
    &-slider
      height: 350px
    &-right
      // flex-direction: column
      // min-height: 450px

    &__slider
      margin-bottom: 20px
  .booking
    width: 49%
    height: 100%
  .map
    width: 49%
    height: 100%
  .newsletter
    &-wrapper
      max-width: 576px
      width: 92%
      flex-direction: column
      align-items: flex-start
  .reviews
    &__title
      margin: 0 0 50px 0
      font-size: 30px
      line-height: 126%
    &-slider
      &__item
        width: 100%
        max-width: 579px
        padding: 0 30px 30px
        &::before,
        &::after
          display: none
      &__username
        margin-top: 0
      &__text
        max-width: 455px
  .activities
    &-wrapper
      justify-content: space-evenly
  .card
    width: 48%
    min-width: 255px
    height: 255px
    &__image
      width: 100%
      height: 100%
      object-fit: cover

  .packages
    &-wrapper
      grid-gap: 15px
    &-item
      &__main
        &__image
          min-width: 320px
          width: 100%
    &-info
      &__title
        &__main
          font-size: 17px
          margin-bottom: 20px
      &__text
        &__main
          font-size: 12px
          margin-bottom: 20px
    &-details
      &__main
        margin-bottom: 20px
    &-footer
      &__price
        min-width: 40%
        &__old
          &__main
            font-size: 12px
        &__new
          &__main
            font-size: 15px
      &__button
        // width: 45%
        min-width: 45%
        min-height: 30px
        padding: 10px 7px
@media only screen and (max-width: 576px)
  .navbar
    &__search, &-menu, &__user
      display: none
    &-top
      &__menu-button
        display: flex
        width: 16px
        height: 11px
        padding: 0
        align-items: center
        justify-content: space-between
        flex-direction: column
        border: none
        background-color: #fff
        cursor: pointer
    .menu-button
      &__line
        width: 16px
        height: 1px
        background-color: $text-color
  .logo
    width: 99px
  .hotel
    padding-bottom: 40px
    &-slider
      height: 250px
      margin-bottom: 10px
    &-right
      flex-direction: column
  .booking
    width: 100%
    height: 100%
    margin: 10px auto
  .map
    width: 100%
    height: 100%
    margin: 10px auto
  .newsletter
    padding: 76px 0 83px 0
    &__title
      margin-bottom: 37px
  .subscribe
    width: 100%
  .reviews
    padding-bottom: 50px
    &-slider
      max-height: 483px
      &__button
        top: 31px
        &--prev
          left: 50%
          margin-left: -110px
          transform: translate(-50%, 0)
        &--next
          right: 50%
          margin-right: -110px
          transform: translate(50%, 0)
  // .activities
  //   &-wrapper
  //     flex: 1 1 100%
  .card
    width: 92%
    min-width: 280px
    height: 255px
    &__image
      object-fit: cover

  .packages
    &-wrapper
      grid-template: repeat(3, 1fr) / repeat(2, 1fr)
      grid-gap: 15px
    &-title
      font-size: 30px
    &-item
      height: 400px
      &__main
        &__image
          min-width: 200px
    &-info
      padding: 17px 20px 10px 17px
      &__main
        padding: 17px 19px 11px 18px
      &__title
        font-size: 17px
        margin-bottom: 27px
        &__main
          margin-bottom: 30px
      &__text
        &__main
          font-size: 12px
          margin-bottom: 20px
    &-details
      margin-bottom: 15px
      &__main
        margin-bottom: 20px
      &__description
        margin-bottom: 9px
        &__icon
          margin-right: 10px
        &__text
          font-size: 12px
    &-footer
      &__price
        &__old
          font-size: 13px
        &__new
          font-size: 19px
@media only screen and (max-width: 425px)

  .packages
    &-wrapper
      grid-template: repeat(5, 400px) / 0
      grid-gap: 15px
    &-item
      min-height: 400px
    &-info
      display: flex
      flex-direction: column
      justify-content: space-around
      &__main
        // grid-template-columns: 1fr
        // grid-template-rows: repeat (2, 200px)

      &__text
        &__main
          display: none
    &-stars
      display: none

@media only screen and (max-width: 320px)
  .reviews
    &__title
      max-width: 245px
      font-size: 18px
      line-height: 127%
      margin: 0 auto 42px
    &-slider
      &__button
        top: 31px
        &--prev
          left: 50%
          margin-left: -95px
          transform: translate(-50%, 0)
        &--next
          right: 50%
          margin-right: -95px
          transform: translate(50%, 0)
