.footer
  padding: 108px 0 48px 0
  background: $dark
  color: $light
  &-wrapper
    display: grid
    grid-template: 250px min-content 89px 1fr min-content / repeat(2, 1fr) minmax(250px, 1fr) 1fr
    grid-column-gap: 80px
  &__logo
    grid-row: 1
    align-self: center
    max-width: 166px
  &-title
    margin: 0 0 20px 0
    font-style: normal
    font-weight: bold
    font-size: 18px
    line-height: 127.7%
    text-transform: uppercase
    &__social
      margin: 0 41px 0 0
    &__contact
      margin-bottom: 34px
    &__message
      flex-basis: 100%
      margin-bottom: 34px

  &-item
    &__link
      font-weight: normal
      font-size: 14px
      line-height: 160%
      text-decoration: none
      color: $footer-text-color
      transition: all 100ms linear
      &:hover
        color: $light

  &-list
    padding: 0
    margin: 0
    list-style: none
  &-categories
    grid-row: 1 / 3
  &-additional
    grid-row: 1

  &-social
    grid-row: 2 / 3
    grid-column: 3 / 5
    display: flex
    justify-content: flex-start
    align-items: center
    &__icons
      display: flex
      flex-direction: row
      justify-content: space-between
      width: 85px
      img
        width: 20px
        height: auto
        display: block
    &__link
      display: flex
      align-items: center
      justify-content: center
      text-decoration: none
      outline: 0
      width: 20px
      height: 20px
      border-radius: 50%
      transition: all 200ms linear
    &__link:hover
      transform: scale(1.25)
      background-color: $primary

  &-legal
    grid-row: 1
  &-contact
    grid-row: 4 / 5
    grid-column: 1 / 3
    &__description
      display: inline-block
      margin-bottom: 22px
      font-style: normal
      font-weight: normal
      font-size: 14px
      line-height: 160%
      color: $footer-text-color
    &__item
      display: flex
      justify-content: flex-start
      align-items: flex-start
      padding-left: 7px
      &:not(:last-child)
        margin-bottom: 15px
    &__icon
      width: 20px
      margin-right: 17px
      padding-top: 5px
    &__text
      font-style: normal
      font-weight: normal
      font-size: 14px
      line-height: 160%
      color: $footer-text-color
    &__link
      text-decoration: none
      color: $footer-text-color
      transition: all 100ms linear
      &:hover
        color: $light
  &-message
    grid-row: 4 / 6
    grid-column: span 3
    align-self: start
    // display: flex
    // flex-flow: row wrap
    &__form
      display: flex
      justify-content: space-between
      align-items: center
      flex-wrap: wrap
      // width: 539px
      width: 100%

      margin-bottom: 22px
    &__inputs
      display: flex
      flex-flow: row wrap
      justify-content: space-between
      align-items: stretch

  &-input
    // font-style: normal
    // font-weight: normal
    // font-size: 12px
    // line-height: 125%
    // background-color: $light
    // border-radius: 4px
    // border: none
    &__name
      flex-basis: 48%
      min-height: 50px
      padding: 17px 23px
      margin: 0 0 15px 0
    &__number
      flex-basis: 48%
      min-height: 50px
      padding: 17px 23px
      margin-bottom: 15px
    &__message
      // width: 539px
      width: 100%
      height: 123px
      margin-bottom: 22px
      padding: 18px 23px
      resize: none
    &:focus
      outline: none
      background-color: darken(#F5FAFE, 2%)
      color: darken($primary, 5%)
      font-weight: 600
  &__button
    grid-row: 5 / 6
    flex-basis: 25%
    min-width: 160px
    min-height: 50px
    padding: 18px
    font-weight: bold
    // margin-right: 52%
    background-color: $primary
    color: $light
    border: none
    border-radius: 4px
    cursor: pointer
    transition: all 100ms linear
    &:hover
      background-color: darken($primary, 10%)
  &__clarification
    align-self: center
    font-style: normal
    font-weight: bold
    font-size: 12px
    line-height: 125%
    color: $footer-text-color
  &-bottom
    grid-row: 6 / 7
    grid-column: 1 / 6
    display: flex
    flex-direction: row
    justify-content: flex-end
    align-items: center
    padding-top: 95px
    &__text
      align-self: center
      width: 300px
      display: flex
      justify-content: space-between
      margin: 0 28% 0 0
      padding: 0
    &__item
      list-style: none
      transition: all 200ms ease

    &__item:not(:last-child)
      margin-right: 20px
    &__link
      position: relative
      font-style: normal
      font-weight: normal
      font-size: 12px
      line-height: 125%
      text-decoration: none
      color: $light
      transition: all 100ms linear
      &:hover
        color: lighten($primary, 5%)
